<footer class="footer">
  <nav class="footer__nav">
    <div class="footer__nav--author">
      <p>Hecho con ❤ por <cite>Carol Masmela </cite></p>
      <small>2021 © Todos los derechos reservados</small>
    </div>
    <ul>
      <li>
        <a
          href="https://github.com/masmelacarol"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img
            class="icon"
            src="assets/images/icon-github.svg"
            alt="icon-github"
          />
        </a>
      </li>
      <li>
        <a
          href="https://www.linkedin.com/in/carol-masmela/"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img
            class="icon"
            src="assets/images/icon-linkedin.svg"
            alt="icon-linkedin"
          />
        </a>
      </li>
    </ul>
  </nav>
</footer>
