.footer {
  padding: 1rem;
  display: flex;
  justify-content: center;

  &__nav {
    display: flex;
    align-items: center;
    gap: 1rem;

    ul {
      gap: 1rem;
      align-items: center;
    }
  }
}
