:root {
  --bg-main: #fdfdfd;
  --bg-color-secondary: #ead746;
  --swiper-theme-color: rgba(255, 216, 3, 1);
  --bg-white: #FFF;
  --color: #2b2c34;
  --pd: 20px;
  --mg: 30px;
  --font-main: 'Mulish', sans-serif;
  --font-title: 'Mulish', sans-serif;
}
